.sideBar {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 30%;

  ul {
    width: 100%;
    li {
      margin: 20px 0;
    }
  }

  @media screen and (max-width: 780px) {
    display: none;
  }
}
