.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  // height: 100vh;

  .title {
    margin-bottom: 30px;
    h2 {
      margin-bottom: 18px;
      font-size: 32px;
      font-weight: 600;
    }
  }
}
