.main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0 24px;

  .sideBar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    @media screen and (max-width: 780px) {
      display: none;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .category {
      display: flex;
      align-items: center;
      margin-top: 20px;
      padding: 0 16px;
      height: 42px;

      span {
        font-size: 1.2rem;
      }
    }
  }
}
